{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<h1>コメント詳細</h1>
<div class="container">
    <div class=" row m-2">
        <div class=" col-4">
            <img src="{{ pict.picture.url }}" class="rounded float-right img-fluid col-auto" alt="">
        </div>
        
        <div class="col-8">
            <p>
                コメント内容
            </p>
            <div class="border m-2 px-4 py-2">
                {{ item.text }} 
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="list-group list-group-flush">
        {% for point in minuteGP_model %}
            <li class="list-group-item p-3">
                {{ point.text }}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <form action="" method="POST" name="form_change_minuteGP" id="form_change_minuteGP_detail">
        {% csrf_token %}
        {{ minuteGP_form.non_field_errors }}
        <div class="form-group">
            {{minuteGP_form.as_p}}
            <button type="submit" class="btn btn-primary" name="button_change_minuteGP">追加</button>
        </div>
    </form>
</div>

<a href = "{% url 'menu:postlist' %}"> 一覧へ戻る </a>
{% endblock %}