{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<h1>{{ item.title }} の詳細</h1>
<div class="container my-3">
    <div class="row no-gutters">
        <div class="col-4">
            <img src="{{ item.picture.url }}" alt="" class="rounded float-right img-fluid">
        </div>
        <div class="col-8 px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-4">{{ item.title }}</li>
                <li class="list-group-item p-4"> {{ item.user.username }}</li>
                <li class="list-group-item p-4">{{ item.date }}</li>
                <li class="list-group-item p-4"><a href="{% url 'menu:postdelete' item.pk %}" class="btn btn-danger">削除</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="list-group">
        {% for point in goodpoint_model %}
        <a  class="list-group-item list-group-item-action" href="{% url 'menu:goodpointdetail' point.pk %}">{{ point.text }}</a>
        {% endfor %}
    </div>
</div>

<div class="container my-3">
    <form action="" method="POST" name="form_change_goodpoint" id="form_change_goodpoint_detail">
        {% csrf_token %}
        {{ goodpoint_form.non_field_errors }}
        <div class="form-group">
            {{goodpoint_form.as_p}}
            <button type="submit" class="btn btn-secondary" name="button_change_goodpoint">追加</button>
        </div>
    </form>
</div>

<a href = "{% url 'menu:postlist' %}"> 一覧へ戻る </a>
{% endblock %}