{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>イラスト登録</h1>
    </div>
    <div class="row">
        {% if messages %}
        <ul class="{{ messages.tag }}">
            {% for message in messages %}
                <li {%if message.tag %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input type="submit" class="btn btn-secondary">
            </form>

        </div>
    </div>
</div>

{% endblock %}