{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<di class="container">
    <h1>投稿一覧</h1>
</di>
{% if user.is_authenticated %}
    <div class="container">
        <div class="row my-4">
            {% for item in items %}
                <div class="col-4 m-2 border">
                    <a class="" href=" {% url 'menu:postdetail' item.pk %} "> 
                        <div class="text-center pb-2"> {{ item.title }} </div>
                        <img src="{{ item.picture.url }}" class="rounded float-right img-fluid col-auto mb-1" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}